<aside id="sidebar">
    <div>
        <ul>
            <li>
                <a href="{{ path_for('admin.index') }}">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path_for('admin.products.index') }}">
                    Products
                </a>
            </li>
            <li>
                <a href="{{ path_for('admin.orders.index') }}">
                    Orders
                </a>
            </li>
            <li>
                <a href="#">
                    Customers
                </a>
            </li>
        </ul>
    </div>
</aside>
