<aside id="sidebar">
    <div>
        <ul>
            <li>
                <a href="/admin">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="/admin/products">
                    Products
                </a>
            </li>
            <li>
                <a href="#">
                    Orders
                </a>
            </li>
            <li>
                <a href="#">
                    Customers
                </a>
            </li>
        </ul>
    </div>
</aside>
