<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart</title>
    <script src="/js/app.js" defer></script>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div id="app">
        {% include 'partials/navigation.twig' %}
        {% include 'partials/notification.twig' %}

        <main class="py-4">
            {% block content %}{% endblock %}
        </main>
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>
